<div class="row">
  <h1>Reset Password</h1>

  <%= form_tag forgot_password_path, method: 'post', id: 'forgot-password' do %>

    <div class="mb-3">
      <%= label_tag :email, 'Email', class: 'form-label' %>
      <%= text_field_tag :email, @email, required: true, type: :email, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= submit_tag 'Submit', class: 'btn btn-primary mb-3' %>
    </div>

  <% end %>
</div>

