
<% flash.each do |name, message| %>
  <div class="alert <%= alert_class name %> alert-dismissible fade show"
       role="alert" id="flash-message-alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" />
  </div>

  <%= javascript_pack_tag 'flash_message' %>
<% end %>

